<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Inscription</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <p>
        Bonjour Mr/Mme {{ nom }} {{ prenom }} <br/>
         L'inscription est terminée. Votre compte est en attente de validation de la part de l'administrateur. Vous recevrez un e-mail lorsque cela sera fait.
    </p>
</body>
</html>