<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Inscription</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <p>
        Bonjour Mr/Mme {{ nom }} {{ prenom }} <br/>
        Votre mot de passe est {{ password }}.
    </p>
</body>
</html>