{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <p>L'inscription est terminée. Votre compte est en attente de validation de la part de l'administrateur. Vous recevrez un e-mail lorsque cela sera fait.</p>
    </div>
{% endblock %}