{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Liste des livreurs</div>
					<div class="panel-heading"><button class="btn btn-primary">Ajouter un livreur</button></div>
					<div class="panel-body">
						<table data-toggle="table">
						    <thead>
						    <tr>
						        <th data-field="identifiant">Photo</th>
						        <th data-field="nom">Nom</th>
						        <th data-field="prenom">Prénom</th>
						        <th>Actions</th>
						    </tr>
						    </thead>
						    {% for livreur in livreurs %}
						    <tr>
						        <td data-field="identifiant"><img src="{{livreur.photo}}" alt="" width="40" height="40"/></td>
						        <td data-field="nom">{{ livreur.nom|e}}</td>
						        <td data-field="prenom">{{ livreur.prenom|e}}</td>
						        <td><svg class=" stroked pencil" style="width:14px;height:14px;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-pencil"></use></svg>
						    	<svg class=" stroked trash" style="width:14px;height:14px;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-trash"></use></svg></td>
						    </tr>
						    {% endfor %}	
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
{% endblock %}
