
			<li class="active"><a href="index.html"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Panneau de gestion</a></li>
			
			<li><a href="widgets.html"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Planning</a></li>
			
			<li><a href="{{path('admin_list')}}"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Livreurs</a></li>
			
			<li><a href="forms.html"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Factures</a></li>
			
			<li><a href="{{path('messagerie')}}"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Messagerie</a></li>
			
			<li role="presentation" class="divider"></li>
			
			<li><a href="{{ path('logout') }}"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Deconnexion</a></li>