<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Inscription </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <p>
        Bonjour Mr/Mme {{ nom }} {{ prenom }} <br/>
        Votre email est valider. Vous pouvez d'ores et déjà vous y connecter en renseignant votre email et ce mot de passe sur  <a href="{{ site_url }}">{{ site_url }}</a>.
    </p>
</body>
</html>